<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <arg name="world" default="empty"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="true"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rm_launch)/worlds/rm_world.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>
    
   <!-- Load the URDF into the ROS Parameter Server -->  
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find rm_description)/urdf/rm_urdf.xacro'" /> 
     
    <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="rm_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -param robot_description -model rm_urdf" />
     
</launch>
